{% extends "base.html" %}

{% block styles %}
<style>
    .nes-field {
        padding: 8px;
    }
</style>
{% endblock %}

{% block script %}
<script>
    function Random(dice_number, base_value, id) {
        var rnd = 0;
        
        for (let i = 0; i < dice_number; i++) {
            rnd += Math.floor(Math.random() * 6) + 1;
        }

        
        document.getElementById(id).value = rnd + base_value;
    }
</script>
{% endblock %}

{% block body %}
<form action="{% url 'book' %}" method="post">
    {% csrf_token %}
    <p style="text-align: center;">Parlez-nous un peu de vous ...</p>

    <div class="nes-table-responsive">
        <div class="nes-field">
            <label for="name_field">Votre NOM</label>
            <input type="text" required name="player_name" id="name_field" class="nes-field"></input>
        </div>

        <div class="nes-field">
            <label for="name_field">Votre ENDURANCE<sup>?</sup></label>
            <input type="number" required name="player_end" id="endurance_field" class="nes-field"></input>
            <button type="button" class="nes-btn is-warning" onclick="Random(2, 12, 'endurance_field');">LANCER LES DES</button>
        </div>

        <div class="nes-field">
            <label for="name_field">Votre HABILETE<sup>?</sup></label>
            <input type="number" required name="player_dex" id="dexterity_field" class="nes-field"></input>
            <button type="button" class="nes-btn is-warning" onclick="Random(1, 6, 'dexterity_field');">LANCER LES DES</button>
        </div>

        <div class="nes-field">
            <label for="name_field">Votre CHANCE<sup>?</sup></label>
            <input type="number" required name="player_luck" id="luck_field" class="nes-field"></input>
            <button type="button" class="nes-btn is-warning" onclick="Random(1, 6, 'luck_field');">LANCER LES DES</button>
        </div>

        <div class="nes-field">
            <label for="name_field">Votre MAGIE<sup>?</sup></label>
            <input type="number" required name="player_magic" id="magic_field" class="nes-field"></input>
            <button type="button" class="nes-btn is-warning" onclick="Random(2, 6, 'magic_field');">LANCER LES DES</button>
        </div>

        <div class="nes-field">
            <label for="name_field">Votre AVENTURE</label>
            <select name="player_book" required id="dark_select">
                <option value="" disabled selected hidden>Choisir ...</option>
                {% for t in titles %}
                    <option value="{{ t.id }}">{{ t.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="nes-field" style="text-align: center; margin: 2em;">
            <p>Etes-vous prêt ?</p>
            <input type="submit" value="Commencer l'aventure" class="nes-btn is-success"></input>
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
<div style="text-align: right; margin: 2em;">
    <a class="nes-btn is-error" href="{% url 'index'%}">Revenir à l'accueil</a>
</div>
{% endblock %}