{% extends "base.html" %}
{% load static %}

{% block styles %}
<style>
    .nes-field {
        padding: 8px;
    }

</style>
{% endblock %}

{% block body %}
<form action="{% url 'start' %}" method="post">
    {% csrf_token %}
    <p style="text-align: center;">Parlez-nous un peu de vous ...</p>

    <div class="nes-table-responsive">
        <div class="nes-field">
            {{ form.player_name.errors }}
            {{ form.player_name.label_tag }}
            {{ form.player_name }}
        </div>

        <div class="nes-field is-inline">
            {{ form.player_endurance.errors }}
            {{ form.player_endurance.label_tag }}
            {{ form.player_endurance }}

            <label for="endurance_base">BASE</label>
            <input class="nes-input is-dark" id="endurance_base" name="player_end_base" type="number" value="12">

            <button class="nes-btn is-warning" onclick="Random(2, 'endurance_base', 'endurance_field');" type="button">
                LANCER LES DES
            </button>
        </div>

        <div class="nes-field is-inline">
            {{ form.player_dexterity.errors }}
            {{ form.player_dexterity.label_tag }}
            {{ form.player_dexterity }}

            <label for="dexterity_base">BASE</label>
            <input class="nes-input is-dark" id="dexterity_base" name="player_dex_base" type="number" value="6"/>
            
            <button class="nes-btn is-warning" onclick="Random(1, 'dexterity_base', 'dexterity_field');" type="button">
                LANCER LES DES
            </button>
        </div>

        <div class="nes-field is-inline">
            {{ form.player_luck.errors }}
            {{ form.player_luck.label_tag }}
            {{ form.player_luck }}

            <label for="luck_base">BASE</label>
            <input class="nes-input is-dark" id="luck_base" name="player_luck_base" type="number" value="6"/>

            <button class="nes-btn is-warning" onclick="Random(1, 'luck_base', 'luck_field');" type="button">
                LANCER LES DES
            </button>
        </div>

        <div class="nes-field is-inline">
            {{ form.player_magic.errors }}
            {{ form.player_magic.label_tag }}
            {{ form.player_magic }}

            <label for="magic_base">BASE</label>
            <input class="nes-input is-dark" id="magic_base" name="player_magic_base" type="number" value="6"/>

            <button class="nes-btn is-warning" onclick="Random(2, 'magic_base', 'magic_field');" type="button">
                LANCER LES DES
            </button>
        </div>

        <div class="nes-field">
            <label for="player_book">Votre AVENTURE</label>
            <select id="player_book" name="player_book" required>
                <option disabled hidden selected value="">Choisir ...</option>
                {% for t in titles %}
                <option value="{{ t.id }}">{{ t.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="display: inline-flex; flex-direction: row; gap: 24px; justify-content: flex-start;">
            <div style="display: flex; flex-direction: column; gap: 12px; flex: 1 1 auto; align-items: center; justify-content: center;">
                <img alt="player" src="{% static 'img/warrior.gif' %}"/>
                <input checked id="avatar_warrior" name="avatar" type="radio"/>
                <span>Guerrier</span>
            </div>

            <div style="display: flex; flex-direction: column; gap: 12px; flex: 1 1 auto; align-items: center; justify-content: center;">
                <img alt="player" src="{% static 'img/necro.gif' %}"/>
                <input id="avatar_necro" name="avatar" type="radio"/>
                <span>Nécromancien</span>
            </div>

            <div style="display: flex; flex-direction: column; gap: 12px; flex: 1 1 auto; align-items: center; justify-content: center;">
                <img alt="player" src="{% static 'img/lizard.gif' %}"/>
                <input id="avatar_lizard" name="avatar" type="radio"/>
                <span>Lézard</span>
            </div>
        </div>

        <div class="nes-field" style="text-align: center; margin: 2em;">
            <p>Etes-vous prêt ?</p>
            <input class="nes-btn is-success" type="submit" value="Commencer l'aventure"/>
        </div>
    </div>
</form>

<div class="back-button">
    <a class="nes-btn is-error" href="{% url 'index'%}">Revenir à l'accueil</a>
</div>
{% endblock %}