{% extends "base.html" %}
{% load static %}

{% block body %}
<div style="display: flex; flex-direction: row; height:100%">
    <div class="nes-container with-title is-dark" style="width: 75%; height: 90%">
        <p class="title">{{ chapter.chapter_number }}</p>
        <p style="text-align:center;">{{ chapter.content|safe }}</p>
    </div>

    <div class="nes-container is-dark chapter-menu">
        <div style="display: flex; flex-direction: column; gap: 8px; height: 35%; width: 100%;">
            {% for link in chapter.links.all %}
            <a class="nes-btn"
               href="{% url 'chapter' book_id link.chapter_dest_number %}">
                {{ link.chapter_dest_number }}

                {% if link.link.has_battle %} <!-- TODO : add field in model -->
                <img alt="battle" src="{% static 'img/battle.png' %}"/>
                {% endif %}
            </a>
            {% endfor %}
        </div>

        <div style="display: flex; flex-direction: column; height: 50%; width: 100%; gap: 4px; background-color: black; border-color: white;">
            <div style="display: flex; flex-direction: row; width: 100%;">
                <img src="{% static 'img/warrior_x3.gif' %}" style="margin: auto;">

                <div style="display: flex; flex-direction: column; width: 50%;">
                    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
                        <p>NOM</p>
                        {{ name }}
                    </div>

                    <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: baseline;">
                        <p>OR</p>
                        {{ gold|length }}
                        <img src="{% static 'img/gold_icon.png' %}">
                    </div>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: center;">
                <i style="width: 25%; text-align: center;">END</i>

                <div class="content-box" style="width: 40%; justify-content: flex-start;">
                    <img alt="endurance" src="{% static 'img/endurance_icon.png' %}"> <i id="enduranceField">x {{ endurance|length }}</i>
                </div>

                <div class="content-box" style="width: 30%;">
                    <label class="nes-btn" id="plusBtEndurance" onclick="UpdateStats('endurance', 1);">+</label>
                    <label class="nes-btn" id="minusBtEndurance" onclick="UpdateStats('endurance', -1);">-</label>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: center;">
                <i style="width: 25%; text-align: center;">DEX</i>

                <div class="content-box" style="width: 40%; justify-content: flex-start;">
                    <img alt="dexterity" src="{% static 'img/dexterity_icon.png' %}"> <i id="dexterityField">x {{ dexterity|length }}</i>
                </div>

                <div class="content-box" style="width: 30%;">
                    <label class="nes-btn" id="plusBtDexterity" onclick="UpdateStats('dexterity', 1);">+</label>
                    <label class="nes-btn" id="minusBtDexterity" onclick="UpdateStats('dexterity', -1);">-</label>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: center;">
                <i style="width: 25%; text-align: center;">CHA</i>

                <div class="content-box" style="width: 40%; justify-content: flex-start;">
                    <img alt="luck" src="{% static 'img/luck_icon.png' %}"> <i id="luckField">x {{ luck|length }}</i>
                </div>

                <div class="content-box" style="width: 30%;">
                    <label class="nes-btn" id="plusBtLuck" onclick="UpdateStats('luck', 1);">+</label>
                    <label class="nes-btn" id="minusBtLuck" onclick="UpdateStats('luck', -1);">-</label>
                </div>
            </div>

            <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: center;">
                <i style="width: 25%; text-align: center;">MGI</i>

                <div class="content-box" style="width: 40%; justify-content: flex-start;">
                    <img alt="magic" src="{% static 'img/magic_icon.png' %}"> <i id="magicField">x {{ magic|length }}</i>
                </div>

                <div class="content-box" style="width: 30%;">
                    <label class="nes-btn" id="plusBtMgi" onclick="UpdateStats('magic', 1);">+</label>
                    <label class="nes-btn" id="minusBtMgi" onclick="UpdateStats('magic', -1);">-</label>
                </div>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; gap: 6px; height: 15%; width: 100%;">
            <button class="nes-btn is-primary" onclick="document.getElementById('dialog-dark-rounded').showModal();"
                    type="button">
                Ouvrir inventaire
            </button>

            <a class="nes-btn is-error" href="{% url 'index'%}">
                Revenir à l'accueil
            </a>
        </div>
    </div>
</div>
{% endblock %}
