{% extends "base.html" %}
{% load static %}

{% block body %}

<div style="display: flex; flex-direction: row; height:100%; gap: 4px;">
    <div style="display: flex; flex-direction: column; width: 75%; height: 100%;">
        <div class="nes-container with-title is-dark" style="width: 100%; height: 80%; overflow-y: auto; overflow-x: hidden">
            <p><i>Chapitre {{ chapter.chapter_number }}</i></p>
            <p style="text-align:center;">{{ chapter.content|safe }}</p>
        </div>

        {% if chapter.has_battle %}
        {% include "chapters/chapter_battle.html" %}
        {% endif %}
    </div>

    <div class="nes-container is-dark chapter-menu">
        <div style="display: flex; flex-direction: column; gap: 8px; height: 35%; width: 100%;">
            {% for link in chapter.links.all %}
            <a class="nes-btn"
               href="{% url 'chapter' book_id link.chapter_dest_number %}">
                {{ link.chapter_dest_number }}
            </a>
            {% endfor %}
        </div>

        {% include "chapters/chapter_player_board.html" %}

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 6px; height: 10%; width: 100%;">
            <a class="nes-btn is-error" href="{% url 'index'%}">
                Revenir à l'accueil
            </a>
        </div>
    </div>
</div>
{% endblock %}
