{% extends "base.html" %}
{% load static %}

{% block body %}
<h2 style="text-align: center;">Liste des livres</h2>

<form action="{% url 'booklist' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}

    <div style="text-align: center; margin: 2em;">
        <label class="nes-btn">
            <label for="newfile">Choose a file</label>
            <input accept="application/pdf" id="newfile" name="newfile" type="file">
        </label>

        <input class="nes-btn is-success" type="submit" value="Valider"/>
    </div>

    <div style="display: flex; flex-direction: column; align-content: center;">
        <table class="nes-table is-dark is-centered" style="text-align: center; width: 100%; background-color: #000000">
            <thead>
            <tr>
                <td>Nom du livre</td>
                <td>Nombre de chapitres</td>
                <td>Actions</td>
            </tr>
            </thead>

            <tbody>
            {% for book in books %}
            <tr>
                <td>
                    {{ book.title }}
                </td>
                <td>
                    {{ book.chapters.count }}
                </td>
                <td>
                    <button class="nes-btn is-primary" title="View book and chapters" name="view_book_id" type="submit" value="{{ book.id }}">
                        View <img src="{% static 'img/dice_icon.png' %}">
                    </button>

                    <button class="nes-btn is-success" title="Parse chapters again" name="reload_book_id" type="submit" value="{{ book.id }}">
                        Reload <img src="{% static 'img/dice_icon.png' %}">
                    </button>

                    <button class="nes-btn is-error" title="Delete this book and players associated" name="delete_book_id" type="submit" value="{{ book.id }}">
                        Delete <img src="{% static 'img/dice_icon.png' %}">
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</form>

<div class="back-button">
    <a class="nes-btn is-error" href="{% url 'index'%}">Revenir à l'accueil</a>
</div>
{% endblock %}