{% extends "base.html" %}
{% load static %}

{% block body %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="text-align: center;">Un site dont VOUS êtes le héros !</p>

        <p style="text-align: center;">
            Bienvenue jeune aventurier !<br>
            Tu as soif d'aventure ? Tu tombes bien ! Nous avons une série de quêtes pour toi !<br/>
            A moins que tu ne soies déjà pris ailleurs ?
        </p>

        <img src="{% static 'img/fire.gif' %}" alt="fire"/>

        <div style="display: block; align-items: center;">
            <a class="nes-btn is-success" href="{% url 'start'%}">COMMENCER</a>
            <a class="nes-btn is-success" href="{% url 'load'%}">CONTINUER</a>
        </div>
    </div>
{% endblock %}