{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="index-class">
    <h2 style="text-align: center;">Un site dont VOUS êtes le héros !</h2>

    <p style="text-align: center; margin-top: auto; margin-bottom: 48px;">
        Bienvenue jeune aventurier !<br><br>
        Tu as soif d'aventure ? Tu tombes bien ! Nous avons une série de quêtes pour toi !<br/>
        A moins que tu ne soies déjà pris ailleurs ?
    </p>

    <div style="display: flex; flex-direction: row; gap: 24px; margin-bottom: auto; width: 100%; align-items: center; justify-content: center;">
        <a class="nes-btn is-success" href="{% url 'start' %}">COMMENCER</a>
        <a class="nes-btn is-primary" href="{% url 'load' %}">CONTINUER</a>
        <a class="nes-btn is-warning" href="{% url 'settings' %}">OPTIONS</a>
        <a class="nes-btn is-warning" href="{% url 'booklist' %}">GERER LES LIVRES</a>
    </div>
</div>
{% endblock %}