{% load static %}

<div style="display: flex; flex-direction: row; width: 100%; height: 15%; justify-content: space-between; align-items: center;">
    <i style="width: 25%; text-align: center;">{{ sname|slice:"0:3"|upper }}</i>

    <div class="content-box" style="width: 40%; justify-content: flex-start;">
        <img alt="{{ sname }}" src="{% static 'img/' %}{{sname}}_icon.png"> x <i id="{{ sname }}Field">{{ svalue }}</i>
    </div>

    <div class="content-box" style="width: 30%;">
        <label class="nes-btn" onclick="updateStat('{{ sname }}', -1);">-</label>
        <label class="nes-btn" onclick="updateStat('{{ sname }}', 1);">+</label>
    </div>
</div>
