{% extends "base.html" %}

{% block styles %}
<style>
    .nes-field {
        padding: 8px;
    }

</style>
{% endblock %}

{% block script %}
<script>
    function Random(dice_number, base_value, id) {
        var rnd = 0;

        for (let i = 0; i < dice_number; i++) {
            rnd += Math.floor(Math.random() * 6) + 1;
        }
        
        document.getElementById(id).value = rnd;
    }

</script>
{% endblock %}

{% block body %}
<form action="{% url 'load' %}" method="post">
    {% csrf_token %}
    <p style="text-align: center;">Je me rappelle de vous ...</p>

    <div class="lists">
        <ul class="nes-list is-disc">
            {% for p in players %}
            <li>
                <div style="display: inline-block;">
                    {{ p.name }} : {{ p.book.title }} <input class="nes-btn is-success" name="player_id" type="submit"
                                                             value="{{ p.id }}">Continuer</input>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</form>
{% endblock %}

{% block footer %}
<div style="text-align: right; margin: 2em;">
    <a class="nes-btn is-error" href="{% url 'index'%}">Revenir à l'accueil</a>
</div>
{% endblock %}